.pdf-display{
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.pdf-cont{
  width: 70vw;
  height: 100vh;
  position: relative;
  left: 0;
}

.highlight-cont button{
  height: 45px;
  width: 120px;
  background-color:  red;
  color: white;
  font-size: 20px;
  font-family: cursive;
  border: 0;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.highlight-cont{
  height: 100vh;
  overflow: auto;
}
.highlight-content{
  margin-top: 50px;
}

.highlight-content li{
  cursor: pointer;
}